.telefone {
    height: 30px;
    width: 30px;
    color: orange;
}

.email {
    height: 30px;
    width: 30px;
    color: orange;
}

.endereco {
    height: 30px;
    width: 30px;
    color: orange;
}

.telefone123{
    color: blue;
}

.email123{
    color: blue;
}

.endereco123{
    color: blue;
}

.contato {
    color: orange;
}

.telefone10 {
    color: orange;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.rodape {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}