.construindo {
    height: 500px;
    width: 500px;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.construindo::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 4px solid #28a745;
    border-radius: 12px;
    opacity: 0;
    transform: scale(0.85);
    transition: 0.35s ease;
}

.construindo:hover::after {
    opacity: 1;
    transform: scale(1);
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: gray;
}

.btn-voltar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
}

.construindo1 {
    height: 500px;
    width: 500px;
    border-radius: 18px;
    object-fit: cover;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.construindo1:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 28px rgba(0,0,0,0.35);
}
